<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Details</title>
  </head>
  <body>
    <p>Puppy Name: <%= params[:name] %></p>
    <p>Puppy Breed: <%= params[:breed] %></p>
    <p>Puppy Age: <%= params[:age] %></p>
  </body>
</html>
